:root {
  --blue: rgb(8, 110, 230);
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  color: black;
}
.timeline {
  margin: 40px;
  border-left: 3px solid var(--blue);
  border-right: 3px solid var(--blue);
  /* border-top-right-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  /* border-top-left-radius: 10px; */
  /* border-top: 4px solid var(--blue); */
  /* border-bottom: 4px solid var(--blue); */
  /* box-shadow: 10px 10px 10px gainsboro; */
}
@media (max-width:600px) {
  .timeline {
    border-left: none;
    border-right: none;
  }
}