:root {
  --white: white;
}
.Footer-main {
  display: flex;
  width: 100%;
  height: 300px;
  /* border: 1px solid red; */
  padding-top: 10px;
  /* align-items: center; */
  background-color: #222533;
  justify-content: center;
}

.Footer-main-001 {
  width: 80%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.Footer-content {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: space-evenly;
  /* border: 1px solid white; */
}
.Footer-content-box {
  display: flex;
  width: 59%;
  height: 100%;
  flex-direction: column;
  /* border: 1px solid red; */
}
.Footer-content-box-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
  color: var(--white);
  /* border: 1px solid red; */
  /* border: 1px solid red; */
  /* justify-content: center; */
}

.Footer-content-box-header h2 {
  font-size: 1.5rem;
  padding-left: 20px;
  /* border: 1px solid red; */
}
.Footer-box-links {
  width: 90%;
  height: 50%;
  /* border: 1px solid white; */
    /* background-color: aliceblue; */
  /* padding-top: 10px; */
  /* margin-top: 18px; */
    padding-top: 20px;
  padding-left: 28px;
}
.Footer-box-links ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
}
.Footer-box-links li {
  gap: 20px;
  align-items: center;
  list-style-type: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.1rem;
}
.Footer-box-links ul li:hover {
  color: var(--white);
  cursor: pointer;
}
.contact-details {
  /* padding-left: 0%; */
  /* border: 1px solid red; */
  color: white;
  font-size: 1.1rem;
  line-height: 30px;
  line-height: 34px;
  /* grid-area: 20px; */
}
.Footer-content-box-header h3 {
  /* color: brown; */
  padding-left: 30px;
}
.Footer-content-01 {
  width: 45%;
  height: 80%;
  display: flex;
  /* background-color: whiteviolet; */
  border-left: 1px solid var(--white);
}
.Footer-content-box-call {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* background-color: aqua; */
  /* border: 1px solid red; */
}
.Footer-content-box-call-header {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  /* border: 1px solid red; */
  /* background-color: azure; */
}
.Footer-content-box-call-header h5 {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--white);
}
.Footer-content-box-call-details {
  width: 100%;
  height: 80%;
  /* border: 1px solid black; */
}
.Footer-box-call-input {
  width: 100%;
  height: 50%;
  /* border: 1px solid red; */
  /* padding-top: 10px; */
  /* background-color: black; */
  margin-top: 20px;
}
.Footer-box-call-input p {
  padding-left: 18px;
}
.call-input {
  display: flex;
  width: 100%;
  height: 35%;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  padding-top: 10px;
  padding-left: 8px;
}
.call-input input {
  width: 60%;
  height: 90%;
  border: 1px solid var(--white);
  background-color: whitesmoke;
  outline: none;
  padding-left: 8px;
}
.call-input button {
  width: 25%;
  height: 80%;
  border: 2px solid var(--white);
  background-color: white;
  color: var(--white);
  font-weight: 600;
}
.footer-content-02 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: end; */
  /* background-color: antiquewhite; */
}
.footer-content-02-header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* padding-left: 10%; */
  /* border: 1px solid red; */
}
.footer-content-02-header h5 {
  /* padding-left: 40px; */
  color: var(--white);
  font-size: 1.1rem;
}
.footer-content-02-header h5,
.Footer-content-box-call-header h5,
.Footer-content-box-header h5 {
  padding-left: 38px;
  font-weight: 800;
  color: whitesmoke;
  /* color: #f70083; */
    /* border: 1px solid red; */
}
.footer-02-icons {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 1px solid white; */
}
.footer-02-icons ul {
  display: inline-flex;
  gap: 48px;
  flex-wrap: wrap;
}


.footer-02-icons ul li {
  list-style-type: none;
  color: var(--white);
}

.social-link-meta {
  color: rgb(127, 127, 197);
}
.social-link-insta {
  color: #f70083;
}

.social-link-youtube {
  color: rgb(254, 0, 0);
}
.social-link-whatsapp {
  color: rgb(54, 182, 37);
}

.footer-02-icons ul li {
  cursor: pointer;
}
@media (max-width:600px) {
  .Footer-main {
    width: 100%;
    height: 580px;
    flex-direction: column;
  }
  .Footer-content {
    width: 100%;
    flex-direction: column;
  }
 .Footer-content-box {
   width: 100%;
   height: 80%;
 }

 .Footer-content-01 {
   display: none;
 }
 }