:root {
  --blue: rgb(50, 126, 246);
  --darkblue: #0E1843;
  font-family: 'Nunito Sans', sans-serif;
}
.Campus-main {
  width: 100%;
  height: 700px;
  /* border: 1px solid red; */
}
.Campus-header {
  width: 100%;
  height: 10%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  color: var(--blue);
  align-items: flex-end;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}
.Campus-para {
  width: 100%;
  height: 15%;
  /* border: 1px solid red; */
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 24px;
}
.Campus-card {
  display: flex;
  width: 100%;
  height: 75%;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
.Campus-card-box {
  width: 25%;
  height: 90%;
  /* border: 1px solid red; */
  /* background-color: aqua; */
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  cursor: pointer;
}
.Campus-card-box:hover {
  /* border: 1px solid aliceblue; */
  /* border: 1px solid var(--blue); */
  /* box-shadow: 1px 16px 34px 10px rgba(110, 155, 228, 0.28); */
  box-shadow: rgba(106, 106, 214, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: 2px 2px 6px rgba(123, 123, 123, 0.683); */
}
.Campus-card-box-01 {
  display: flex;
  width: 100%;
  height: 60%;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  /* border: 1px solid red; */
  /* background-color: beige; */
}
.Campus-card-box-img {
  width: 95%;
  height: 95%;
 
  border-radius: 16px;
}
.Campus-card-box:hover .Campus-card-box-img{
  /* transition: 0.25s; */
  /* box-shadow: rgba(106, 106, 214, 0.2) 0px 7px 29px 0px; */
  /* border: 2px solid var(--blue); */
}
.Campus-card-box-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.Campus-card-box-header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--blue);
  /* border: 1px solid black; */
}
.Campus-card-box-para {
  width: 100%;
  height: 30%;
  text-align: center;
  /* color: grey; */
  display: flex;
  align-items: center;
  line-height: 22px;
  /* border: 1px solid red; */
}
